<div ng-app="payroll" ng-controller="questionmaster">
  <!-- header logo: style can be found in header.less -->
  <!-- Content Header (Page header) -->
  <div class="content-header" ng-init="onloadapis()">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4 class="m-0 text-dark">Question Master</h4>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Question Master</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <section class="content">
        <div class="container-fluid" ng-init="employeeslist()">

          <div class="card card-primary card-outline" ng-show="listdiv==0">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-question"></i>
                Questions
              </h3>
              <button type="button" class="btn btn-default btn-sm float-right" ng-click="Actionprocess()">Add
                Question</button>
            </div>

         
            <div class="card-body">
              <div class="row">
                
              <div class="col-md-3 form-group">
                <select name="prgm" id="prgm" ng-model="prgm" class="form-control" style="width: 100%;" required
                  ng-change="selectsearch(prgm,topic)">
                  <option value="">Select Program</option>
                  <option ng-repeat="z in programs" value="{{z.ProgramName}}">{{z.ProgramName}}</option>
                </select>
  
              </div>
              <div class="col-md-3 form-group">
                <select name="topic" id="topic" ng-model="topic" class="form-control" style="width: 100%;" required
                  ng-change="selectsearch(prgm,topic)">
                  <option value="">Select Tag</option>
                  <option ng-repeat="z in Tagnames" value="{{z._id}}">{{z._id}}&nbsp;({{z.count}})</option>
                </select>                
              </div>
              </div>
              <table class="table table-bordered mt-2" ng-show="bankaccounts!=''">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Topic</th>
                    <th>Programs</th>
                    <th>Tags</th>
                    <th>Qtypes</th>
                    <th>Levels</th>
                    <th>Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="q in Qdata">
                    <td>{{$index+1}}</td>
                    <td>{{q.Topic}}</td>
                    <td><span ng-repeat="p in q.Program">{{p}}<br /></span></td>
                    <td><span ng-repeat="t in q.Tags">{{t}}<br /></span></td>
                    <td><span ng-repeat="y in q.QType">{{y.TypeName}}<br /></span></td>
                    <td><span>{{q.Level}}</td>
                    <td>{{q.CreateDate | date:'MM-dd-yyyy h:m'}}</td>
                    <td>
                      <a class="btn btn-xs" href="#/questionupdate/{{q._id}}"><i class="nav-icon fas fa-pen"></i></a>
                      <a class="btn btn-xs" ng-click="deleteQuestion(q._id)"><i class="nav-icon fas fa-trash"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="card card-primary card-outline" ng-show="listdiv==1">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-user"></i>
                Add Question
              </h3>
              <button type="button" class="btn btn-default btn-sm float-right" ng-click="listdiv=0">Back</button>
            </div>
            <div class="card-body">
              <form id="primaryinfo" name="primaryinfo" role="form" name="myfrm" id="myfrm" novalidate>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <label>Question</label>
                    <textarea ng-model="Que.Qdesc" name="Qdesc" class="form-control" id="Qdesc"
                      placeholder="Enter Question........!" rows="6" cols="6"></textarea>
                    <span class="text-danger">{{dupeerr}}</span>
                  </div>
                  <div class="col-md-4 form-group">
                    <label>Question Type</label>
                    <select name="type_id" id="type_id" ng-model="Que.type_id" class="select2" style="width: 100%;"
                      multiple="multiple" required>
                      <option ng-repeat="z in qtypes" value="{{z.TypeName}}">{{z.TypeName}}</option>
                    </select>
                  </div>
                  <div class="col-md-4 form-group">
                    <label>Program</label>
                    <select name="programs" id="progrmaselect2" ng-model="Que.programs" class="select2"
                      style="width: 100%;" multiple="multiple" required>
                      <option ng-repeat="z in programs" value="{{z.ProgramName}}">{{z.ProgramName}}</option>
                    </select>
                  </div>
                  <div class="col-md-4 form-group">
                    <label>Level</label>
                    <select name="level" id="level" ng-model="Que.level" class="form-control" style="width: 100%;"
                      required>
                      <option ng-repeat="z in levels" value="{{z.LevelName}}">{{z.LevelName}}</option>
                    </select>
                  </div>
                  <div class="col-md-4 form-group">
                    <label>Topic</label>
                    <select name="topic" id="topiselect2" ng-model="Que.Topic" class="form-control" style="width: 100%;"
                      required>
                      <option ng-repeat="z in topics" value="{{z.TopicName}}">{{z.TopicName}}</option>
                    </select>
                  </div>
              <pre ng-bind="Que | json"></pre>
                  <div class="col-md-4 form-group">
                    <label>Tags</label> 
                    <input type="text" name="tags" ng-model="Que.Tags" class="form-control tagin" value="">
                  </div>

                </div>
                <button type="submit" class="btn bg-primary" ng-click="AddEmployeeInfo(qdata)">Submit</button>
              </form>
            </div>
          </div>



        </div>
      </section>

    </div>
  </section>
  <style>

  </style>
</div>