    
    <div ng-app="payroll" ng-controller="questionmaster">
        <!-- header logo: style can be found in header.less -->
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                <h4 class="m-0 text-dark">Question Master</h4>
                </div><!-- /.col -->
                <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Question Master</li>
                </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
    
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                
                <section class="content">
                    <div class="container-fluid" ng-init="employeeslist()">
                        
                      <div class="card card-primary card-outline" ng-show="listdiv==0">
                        <div class="card-header">
                          <h3 class="card-title">
                            <i class="fas fa-question"></i>
                            Questions
                          </h3>
                          <button type="button" class="btn btn-default btn-sm float-right" ng-click="addempoyeediv()">Add Question</button>
                        </div>
                        <div class="card-body">
                          <table class="table table-bordered mt-2" ng-show="bankaccounts!=''">
                            <thead>
                              <tr>
                              <th>#</th>
                              <th>Paycode</th>
                              <th>Employee</th>
                              <th>Branch</th>
                              <th>Mobile</th>
                              <th>Category</th>
                              <th>Edit</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="emp in listemployees">
                              <td>{{$index+1}}</td>
                              <td>{{emp.paycode}}</td>
                              <td>{{emp.empName}}</td>
                              <td>{{emp.campusName}}</td>
                              <td>{{emp.mobileNo}}</td>
                              <td>{{emp.category}}</td>
                              <td><a class="btn btn-warning btn-xs" href="#/emploeeupdate/{{emp.paycode}}">Edit</a></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>  
                      </div> 

                      <div class="card card-primary card-outline" ng-show="listdiv==1">
                        <div class="card-header">
                          <h3 class="card-title">
                            <i class="fas fa-user"></i>
                            Add Question
                          </h3>
                          <button type="button" class="btn btn-default btn-sm float-right" ng-click="listdiv=0">Back</button>
                        </div>
                        <div class="card-body">
                            <form ng-submit="AddEmployeeInfo(qdata)" id="primaryinfo" name="primaryinfo">
                              <div class="row">
                                <div class="col-md-12 form-group">
                                  <label>Question</label>                                   
                                  <textarea   ng-model="emp.Qdesc" name="Qdesc" class="form-control" id="Qdesc" placeholder="Enter Question........!" rows="6" cols="6"></textarea>
                                  <span class="text-danger">{{dupeerr}}</span>
                                </div>
                                <div class="col-md-4 form-group">
                                  <label>Select Type</label>                                 
                                  <div ng-dropdown-multiselect="" options="permissionslist" selected-model="permModel" checkboxes="true" extra-settings="qtypes"></div>
                                </div>  
                                <div class="col-md-4 form-group">
                                  <label>Select Program</label>                                 
                                  <div ng-dropdown-multiselect="" options="programlist" selected-model="programModel" checkboxes="true" extra-settings="programs"></div>
                                </div> 
                                <div class="col-md-4 form-group">
                                  <label>Select Level</label>
                                  <div ng-dropdown-multiselect="" options="levelslist" selected-model="levelsModel" checkboxes="true" extra-settings="levels"></div>
                                </div>
                                <div class="col-md-4 form-group">
                                  <label>Select Topic</label>
                                  <div ng-dropdown-multiselect="" options="topiclist" selected-model="levelsModel" checkboxes="true" extra-settings="levels"></div>
                                </div>
                                <div class="col-md-4 form-group">
                                  <label>Mobile No.</label>
                                  <input type="number" ng-model="emp.mobileNo" name="mobileNo" class="form-control" id="mobileNo" placeholder="Enter Mobile No.">
                                </div>
                                <div class="col-md-4 form-group">
                                  <label>Whatsapp</label>
                                  <input type="number" ng-model="emp.whatsapp" name="whatsapp" class="form-control" id="whatsapp" placeholder="Enter Whatsapp No.">
                                </div>
                                <div class="col-md-4 form-group">
                                  <label>E-mail</label>
                                  <input type="email" ng-model="emp.email" name="email" class="form-control" id="email" placeholder="Enter E-mail">
                                </div>
                                
                              </div>
                              <button type="submit" class="btn bg-primary">Submit</button>
                            </form>
                        </div>  
                      </div>   
                      
                      
                     
                    </div>
                </section>
					
            </div>
        </section>
      
    </div>
